<footer>
  <ul>
    <li>
      <h6>Version:</h6>
      <span>© 2022 Nazarii Pyndus. All Rights Reserved.</span>
    </li>
    <li>
      <h6>Socials:</h6>
      <ul class="socials-media">
        <li>
          <a
            href="https://www.linkedin.com/in/nazarii-pyndus-97b278132/"
            target="_blank"
          >
            <span>LinkedIn</span>
            <img
              src="https://nazar2000.github.io/angular-portfolio/assets/images/linkedIn.svg"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="https://github.com/Nazar2000" target="_blank">
            <span>GitHub</span>
            <img
              src="https://nazar2000.github.io/angular-portfolio/assets/images/github.svg"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/n.pyndus/" target="_blank">
            <span>Instagram</span>
            <img
              src="https://nazar2000.github.io/angular-portfolio/assets/images/instagram.svg"
              alt=""
            />
          </a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
